In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [5]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [6]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
dependent=dataset[['charges']]

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [8]:
from sklearn.ensemble import RandomForestRegressor

In [9]:
from sklearn.model_selection import GridSearchCV

In [10]:
param_grid={'criterion':['mse','mae'],'max_features':['auto','sqrt','log2'],'n_estimators':[10,100]}
grid=GridSearchCV(RandomForestRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)

#fitting the model for grid search
grid.fit(independent,dependent)

C:\Users\Dell\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.

Fitting 3 folds for each of 12 candidates, totalling 36 fits

[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    4.6s
[Parallel(n_jobs=-1)]: Done  34 out of  36 | elapsed:    8.6s remaining:    0.4s
[Parallel(n_jobs=-1)]: Done  36 out of  36 | elapsed:    9.3s finished
C:\Users\Dell\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:715: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=RandomForestRegressor(bootstrap=True, criterion='mse',
                                             max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators='warn', n_jobs=None,
                                             oob_score=False, random_state=None,
                                             verbose=0, warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [11]:
#print best parameter after tuning
#print (grid.best_params_)
re=grid.cv_results_
#print(re)
grid_pred=grid.predict(x_test)
#grid_pred
#print("The R_score value for best parameter{}:".format(grid.best_params_))

In [12]:
from sklearn.metrics import r2_score
r2_score=r2_score(grid_pred,y_test)
r2_score

0.9750835087013303

In [31]:
table=pd.DataFrame.from_dict(re)
table
#print(type(table))

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.066754,0.003652,0.012238,0.001188,mse,auto,10,"{'criterion': 'mse', 'max_features': 'auto', '...",0.826421,0.812846,0.799404,0.812891,0.011030,10
1,0.618688,0.013157,0.034761,0.006773,mse,auto,100,"{'criterion': 'mse', 'max_features': 'auto', '...",0.838445,0.829057,0.817351,0.828284,0.008629,5
2,0.060991,0.005636,0.013179,0.009746,mse,sqrt,10,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.826342,0.835679,0.821409,0.827810,0.005917,6
3,0.472447,0.008660,0.033385,0.011239,mse,sqrt,100,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.840290,0.837892,0.818498,0.832227,0.009757,2
4,0.055103,0.003387,0.005001,0.005720,mse,log2,10,"{'criterion': 'mse', 'max_features': 'log2', '...",0.822855,0.817432,0.793578,0.811288,0.012717,12
5,0.448091,0.003757,0.035819,0.002036,mse,log2,100,"{'criterion': 'mse', 'max_features': 'log2', '...",0.841429,0.837358,0.816356,0.831714,0.010987,3
6,0.417554,0.010041,0.006116,0.005196,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",0.816922,0.822642,0.809484,0.816349,0.005387,8
7,4.021150,0.059101,0.027363,0.008423,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",0.832762,0.831693,0.816408,0.826954,0.007470,7
8,0.262345,0.008833,0.009196,0.005502,mae,sqrt,10,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.827849,0.818050,0.791038,0.812312,0.015566,11
9,2.404285,0.012072,0.035465,0.004286,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.839851,0.833467,0.820296,0.831204,0.008142,4
10,0.253977,0.009118,0.010417,0.014731,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",0.828145,0.818714,0.801341,0.816067,0.011101,9
11,2.167567,0.258066,0.030122,0.004278,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",0.839958,0.838887,0.819853,0.832900,0.009236,1

In [30]:
excel_tab=table.to_excel('output.xlsx', index=False)
excel_tab

In [14]:
print("R_score value for best parameter{}:".format(grid.best_params_),r2_score)

R_score value for best parameter{'criterion': 'mae', 'max_features': 'log2', 'n_estimators': 100}: 0.9750835087013303

In [27]:
#age=float(input("Enter age:"))
#BMI=float(input("Enter BMI:"))
#child=int(input("Enter Child:"))
#sex=int(input("Enter 0 or 1:"))
#smoke=int(input("Enter 0 or 1:"))

In [28]:
#result=grid.predict([[age,BMI,child,sex,smoke]])
#print("future prediction ={}".format(result))

In [17]:
r2_score

0.9750835087013303

# save model

In [22]:
import pickle

In [23]:
file_name="finalized_grid_RF.sav"
pickle.dump(grid,open(file_name,"wb"))

In [24]:
loaded_model=pickle.load(open("finalized_grid_RF.sav","rb"))
loaded_model

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=RandomForestRegressor(bootstrap=True, criterion='mse',
                                             max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators='warn', n_jobs=None,
                                             oob_score=False, random_state=None,
                                             verbose=0, warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [26]:
result=loaded_model.predict([[45,34.7,2,1,0]])
result

array([10232.9610921])